@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

:root {
  --primary: #353e49;
  --primary-dark: #272f38;
  --primary-light: #48515c;
  --active-text: #fff;
  --inactive-text: #ffffff69;
}

html {
  position: relative;
  min-height: 100%;
  min-width: 320px;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--primary);
}

.container > form {
  margin: 24px;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container > form > input {
  width: 100%;
  height: 48px;
  outline: none;
  border: none;
  border-radius: 8px;
  margin-bottom: 16px;
  text-align: center;
  font-size: 24px;
}

.container > form > button {
  width: 100%;
  height: 48px;
  outline: none;
  border: none;
  border-radius: 8px;
  background-color: var(--primary-light);
  border: 1px solid var(--primary-light );
  color: var(--active-text);
  font-size: 20px;
}

.container > form > button:disabled {
  background-color: var(--primary);
  border: 1px solid var(--primary-light );
  color: var(--inactive-text);
}

.container > form > button:active {
  background-color: var(--primary-dark);
  border: 1px solid var(--primary-dark);
  color: var(--active-text);

}
